[submodule "modules/bridge"]
	path = modules/bridge
	url = git@github.com:Mahmoud-Eltabakh/BL-HAOS-Bridge.git
[submodule "modules/integration"]
	path = modules/integration
	url = git@github.com:Mahmoud-Eltabakh/BL-HAOS-Integration.git
