[submodule "modules/bridge"]
	path = modules/bridge
	url = https://github.com/Mahmoud-Eltabakh/BL-HAOS-Bridge.git
[submodule "modules/integration"]
	path = modules/integration
	url = https://github.com/Mahmoud-Eltabakh/BL-HAOS-Integration.git
